/* шрифты */
@font-face {
    font-family: "ArchivoBlack";
    src: url('fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Unbounded */
@font-face {
    font-family: "Unbounded";
    src: url('fonts/Unbounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Akony */
@font-face {
    font-family: "Akony";
    src: url('fonts/AKONY.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* ---шрифты */

body {margin-top: 200px;
    transition: margin-top 0.3s ease;
    background:#1E1E1E;
    box-sizing: border-box;}

body.small-header {
    margin-top: 120px;
}

body.font-fallback .tg-counter p {
    font-size: 900%;
    font-weight: 900;
    letter-spacing: -1px;
}

@media (max-width: 768px) {
    body {
        margin-top: 100px !important;
    }

       body.small-header {
        margin-top: 80px !important;
    } 
    html, body {
        overflow-x: hidden; /* Запрещаем горизонтальный скролл */
        width: 100%; /* Фиксируем ширину */
        max-width: 100%; /* Ограничиваем максимальную ширину */
    }
}

body::-webkit-scrollbar {
    display: none;
}

* {margin: 0;
padding: 0;
box-sizing: border-box;}

/* header */
header {
    background: linear-gradient(90deg, #191717, #302A2A);
    border-bottom-style: solid;
    border-color: #B82C2C;
    border-width: 3px;
    width: 100%;
    max-width: 1920px;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 20px 30px 0 #000000aa;
}

header.small {
    height: 120px !important; 
}

@media (max-width: 768px) {
    header {height: 120px;
    width: 100%;
    }
    
    header.small {
    height: 80px !important; }
}

/* logo */
#logo {margin:0 0 1.8% 5%;
    display: flex;
    flex-direction: column;
    width: 350px;
    transition: all 0.2s ease;
}

#logo:hover {font-size: +115%;}

#logo a {text-decoration: none;}

#logo h1 {color: #B82C2C;
font-family: 'ArchivoBlack', sans-serif;
font-size: 400%;
font-weight: 800;
transition: all 0.3s ease;
}


header.small #logo h1 {color: #B82C2C;
font-family: 'ArchivoBlack', sans-serif;
font-size: 230% !important;
font-weight: 800;
margin-top: 7%;}

#logo p {color:#CAC7C7;
font-family: 'unbounded', sans-serif;
font-size: 145%;
margin-top: -5%;
margin-left: 0.8%;
transition: all 0.3s ease;
}


header.small #logo p {
    font-size: 85% !important;
    margin-top: -2% !important;
    margin-left: 0.5% !important;
}

@media (max-width: 768px) {
    #logo {
    width: 150px;
    }   

#logo:hover {font-size: +50%;}

#logo a {text-decoration: none;}

#logo h1 {
font-size: 190%;
}


header.small #logo h1 {
font-size: 140% !important;}

#logo p {
font-size: 69%;}


header.small #logo p {
    font-size: 51% !important;
}
}

/* nav */
/* desktop */
#navig {margin: 0px 14% 0px 0px;
display: flex;
flex-direction: row;
gap: 25%;
}
#navig a {text-decoration: none;
color: #B82C2C;
font-family: 'unbounded', sans-serif;
font-size: 180%;
transition: all 0.3s ease;
}

header.small #navig a {
    font-size: 140%;
}

header.small #navig a:hover, #navig a:hover {color:#ffffff}

/* мобилка */
/* Скрываем чекбокс */
.burger-checkbox {
    display: none;
}

/* Текущие стили бургера оставляем */
.burger {
    margin-right: 5%;
    position: relative;
    opacity: 0;
    visibility: hidden;
}

/* Делаем кнопку бургера кликабельной */
.burger-btn {
    cursor: pointer;
    display: block;
}

.burger ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    position: absolute;
    right: 100%;
    top: 100%; /* Добавляем, чтобы меню появлялось под кнопкой */
    padding: 20px 30px;
    background: linear-gradient(90deg, #4C4646, #383838);
    border-radius: 25px 0 25px 25px;
    border: solid 1px #B82C2C;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease; /* Плавное появление */
    z-index: 1000; /* Чтобы было поверх других элементов */
}

/* Меняем :active на :checked */
.burger-checkbox:checked ~ .burger ul,
.burger-checkbox:checked + .burger ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Остальные стили оставляем */
.burger ul li a {
    text-decoration: none;
    font-family: "Akony","Arial Black", "Impact", sans-serif;
    color: #ffffff;
    font-size: 120%;
}

.line {
    border: none;
    border-radius: 500px;
    height: 1px;
    width: 220px;
    margin: 0 auto;
    background-color: #ffffffc8;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    #navig {display: none;}

    .burger {opacity: 1;
    visibility:visible;}
}
        
/* ------------header */

/* вставка с фото */
.nft {display: flex;
    position: relative;
    height: 1098px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: -1;}

@media (max-width: 768px) {
    .nft {height: 285px;}
}
/* ----вставка с фото */

/* основной контент */
.content-box {background: linear-gradient(90deg, #191717, #302A2A);
    border-top-style: solid;
    border-color: #B82C2C;
    border-width: 3px;
    width: 100%;
    max-width: 1920px;
    height: 2381px;
    box-shadow: 0px -30px 30px 0px rgba(0, 0, 0, 0.649);}

    @media (max-width: 768px) {.content-box {height: 890px; height: auto;}
}


/* контент страницы */
    /* фоловеры */
        .tg-counter {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            gap: 2%;
            margin-top: 3%;}      
        .tg-counter p {font-family: "Akony", "Arial Black", "Impact", sans-serif;
                    color: #ffffff;
                    font-weight: 900;
                    font-size: 600%;
                    }
        .count {
            font-family: 'Akony', "Arial Black", "Impact", sans-serif;
            font-size: 900%;
            color:#B82C2C;
        }
        #sps {color: #ffffff;
        font-family: "Akony", "Arial Black", "Impact", sans-serif;
        font-size: 170%;
        display: flex;
        justify-content: right;
        margin-right: 3%;}
        
        .modern-line {border: none;
        border-radius: 100px;
        height: 2px;
        width: 779px;
        margin: 0 auto;
        margin-top: 8%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        }

        @media (max-width: 768px) {
            .tg-counter {margin-top: 5%;}
            .tg-counter p {font-size: 130%;}
            .count {font-size: 200%;}
            #sps {font-size: 70%;}
            .modern-line {width: 250px;}
        }
        /* заголовок */
        h3 {
            color: #ffffff;
            font-family: "Unbounded", sans-serif;
            font-size: 850%;
            margin-top: 6%;
            text-align: center;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            word-wrap: break-word;
            }
        
        #nef {
            font-family: 'ArchivoBlack', sans-serif;
            font-size: 120%;
            font-weight: 900;
        }

            @media (max-width: 768px) {h3 {font-size: 280%;
            max-width: 90%;}
        #nef {font-size: 100%;}}

        /* фото */
            #photoglav {display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 4%;}

            #photoglav img {width: 486px;
            height: 471px;}

        @media (max-width: 768px) {#photoglav img {width: 126px;
            height: 121px;}}

        /* подопис. */
#podopis {
    position: relative;
    padding: 50px;
    margin: 50px auto;
    max-width: 1400px;
}

/* Треугольник в левом верхнем углу */
.triangle-top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: #fdfcfcd6;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

/* Треугольник в правом нижнем углу */
.triangle-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fdfcfcd6;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

#opis p {
    font-family: 'Unbounded', sans-serif;
    color: #ffffff;
    font-size: 500%;
    font-weight: 600;
    text-align: center;
    margin: 0;
    line-height: 1.2;
}

/* Пустая строка между абзацами */
.empty-line {
    height: 2em;
    margin: 0.5em 0;}

#opis p span {
    color: #B82C2C;}

@media (max-width: 768px) {
    .triangle-top-left {width: 25px;
        height: 25px;
        position: absolute;
        top: 5%;
        left: 3%;}
    .triangle-bottom-right {width: 25px;
        height: 25px;
        position: absolute;
        bottom: 5%;
        right: 3%}
    #opis p {font-size: 150%;}
}
        
/* ----основной контент */

/* подвал */
footer {background: #1E1E1E;
    border-top-style: solid;
    border-color: #B82C2C;
    border-width: 3px;
    width: 100%;
    max-width: 1920px;
    height: 250px;
    margin-top: -13%;}

footer #thx {color: #B82C2C;
text-align: center;
margin-top: 1%;
font-size: 200%;
font-family: 'unbounded', sans-serif;
font-weight: 100;}

footer #gr {display: flex;
            justify-content: space-between;
            margin-top: 2%;
            color: #AF9E9E;
            font-family: 'unbounded', sans-serif;
            font-size: 150%;
            padding: 0 1%;}

footer #gr #p1 {width: 290px;}

footer #gr #p2 {width: 420px;
            text-align: right;
            text-indent: 34%;}

#socials {display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    margin-top: -2%;}

#socials a img {width: 70%;}

footer h3 {display: flex;
        justify-content: center;
        margin-top: 1%;
        color: #564E4E;
        font-family: 'unbounded', sans-serif;
        font-size: 120%;}

@media (max-width: 768px) {
    footer {height: 200px;}

    footer #thx {font-size: 100%; margin-top: 2%;}
    footer #gr #p1 {width: 175px;
    font-size: 14px;}

    footer #gr #p2 {width: 255px;
    font-size: 14px;
    text-indent: 20%;
    margin-right: 2%;
}

#socials {position: relative;
    margin-top: 5%;
    gap: -15px;
    }

#socials a img {width: 60%;
}

footer h3 {font-size: 80%;}
}