* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

html, body {
    height: 100%;
}

body {
    background-image: url('https://avatars.mds.yandex.net/i?id=9bb9bee0c2309a49757e431d5f52dcbc_l-5220447-images-thumbs&n=13');
    background-attachment: fixed;  /* ✅ Ключевое свойство */
    background-size: cover;        /* Растянуть на весь экран */
    background-position: center;   /* Центрировать */
    background-repeat: no-repeat;  /* Не повторять */

}


/* header */
header {background-color: rgba(44, 44, 44, 0.975);
        border-bottom-style: solid; 
        border-color: rgb(194, 50, 50);
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        box-shadow: 1px 1px 70px 8px;
        }

/* смена фото */
.imgh {width: 120px;
        height: 120px;
        border-radius: 20px;
        object-fit: cover;
        flex-shrink: 0;
        margin: 10px 15px 10px 5px;
        display: inline-block;
        position: relative;
    }

.default-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.hover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
}

.hover-img {
    opacity: 0;
}

.imgh:hover .hover-img {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.imgh:hover .default-img {
    opacity: 0;
}


/* ---смена фото */
header div a {text-decoration: none;
    text-align: left;
    margin: 0 0 3px 0;
    color: rgb(197, 197, 197);
    margin: 3px 3px 2px 22px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    }

header div h1 a:hover {font-size: 50px;
                        color: rgb(255, 255, 255);}


#hp {color: rgb(194, 50, 50);}   
/* ---header */

/* окно с основным контентом */

.content-box {display: flex;
            margin: 60px auto;
            height: auto;
            width: 100%;
            max-width: 1300px;
            display: flex;
            align-items: center;
            gap: 15px;
            background-color: rgba(44, 44, 44, 0.975);
            border-bottom-style: solid;
            border-top-style: solid; 
            border-color: rgb(194, 50, 50);
            padding: 10px 20px;
            box-shadow: 0px 50px 100px 15px;
            flex-wrap: wrap;
            }

.content-box p {
   flex-basis: 100%;
}

/* ----окно с осн контентом */

/* подвал */

.shad { box-shadow: 0px 10px 150px 13px;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    }


footer {
    background: rgba(44, 44, 44, 0.975);
    color: white;
    padding: 40px 0 20px;
    margin-top: auto;
    margin: 60px auto;
    border-top-style: solid;
    border-color: rgb(194, 50, 50);
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    gap: 15px;

}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 30px;
}

/* ---подвал */


/* место для дизайна контента */
.text {color: rgb(224, 222, 222);
        font-family: Arial, Helvetica, sans-serif;}
/* ---- место для диз контента */