/* шрифты */
@font-face {
    font-family: "ArchivoBlack";
    src: url('fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Rimma Sans Bold */
@font-face {
    font-family: "RimmaSans";
    src: url('fonts/RIMMA_SANS-BOLD (2).TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Unbounded */
@font-face {
    font-family: "Unbounded";
    src: url('fonts/Unbounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Lozung Caps */
@font-face {
    font-family: "Lozung";
    src: url('fonts/Lozung Caps Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Akony */
@font-face {
    font-family: "Akony";
    src: url('fonts/AKONY.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* ---шрифты */

body {margin-top: 200px;
    transition: margin-top 0.3s ease;
    background:#1E1E1E;}
body.small-header {
    margin-top: 120px;
}

body::-webkit-scrollbar {
    display: none;
}

* {margin: 0;
padding: 0;
box-sizing: border-box;}

/* header */
header {
    background: linear-gradient(90deg, #191717, #302A2A);
    border-bottom-style: solid;
    border-color: #B82C2C;
    border-width: 3px;
    width: 100%;
    max-width: 1920px;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 20px 30px 0 #000000aa;
}

header.small {
    height: 120px !important; 
}

/* logo */
#logo {margin:0 0 1.8% 5%;
    display: flex;
    flex-direction: column;
    width: 350px;
    transition: all 0.2s ease;
}

#logo:hover {font-size: +115%;}

#logo a {text-decoration: none;}

#logo h1 {color: #B82C2C;
font-family: 'ArchivoBlack', sans-serif;
font-size: 400%;
font-weight: 800;
transition: all 0.3s ease;
}


header.small #logo h1 {color: #B82C2C;
font-family: 'ArchivoBlack', sans-serif;
font-size: 230% !important;
font-weight: 800;
margin-top: 7%;}

#logo p {color:#CAC7C7;
font-family: 'unbounded', sans-serif;
font-size: 145%;
margin-top: -5%;
margin-left: 0.8%;
transition: all 0.3s ease;
}


header.small #logo p {
    font-size: 85% !important;
    margin-top: -2% !important;
    margin-left: 0.5% !important;
}

/* nav */
#navig {margin: 0px 14% 0px 0px;
display: flex;
flex-direction: row;
gap: 25%;
}
#navig a {text-decoration: none;
color: #B82C2C;
font-family: 'unbounded', sans-serif;
font-size: 180%;
transition: all 0.3s ease;}

header.small #navig a {
    font-size: 140%;
}

header.small #navig a:hover, #navig a:hover {color:#ffffff}
/* ------------header */

/* вставка с фото */
.nft {display: flex;
    position: relative;
    height: 1098px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: -1;}
/* ----вставка с фото */

/* основной контент */
.content-box {background: linear-gradient(90deg, #191717, #302A2A);
    border-top-style: solid;
    border-color: #B82C2C;
    border-width: 3px;
    width: 100%;
    max-width: 1920px;
    height: 2381px;
    box-shadow: 0px -30px 30px 0px rgba(0, 0, 0, 0.649);}



/* контент страницы */
        .tg-counter {
            font-family: Arial, sans-serif;
            padding: 10px;
        }
        .count {
            font-weight: bold;
            font-size: 18px;
        }
/* ----основной контент */

/* подвал */
footer {background: #1E1E1E;
    border-top-style: solid;
    border-color: #B82C2C;
    border-width: 3px;
    width: 100%;
    max-width: 1920px;
    height: 250px;}

footer #thx {color: #B82C2C;
text-align: center;
margin-top: 1%;
font-size: 200%;
font-family: 'unbounded', sans-serif;
font-weight: 100;}

footer #gr {display: flex;
            justify-content: space-between;
            margin-top: 2%;
            color: #AF9E9E;
            font-family: 'unbounded', sans-serif;
            font-size: 150%;
            padding: 0 1%;}

footer #gr #p1 {width: 290px;}

footer #gr #p2 {width: 420px;
            text-align: left;
            text-indent: 34%;}

#socials {display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    margin-top: -2%;}

#socials a img {width: 80%;}

footer h3 {display: flex;
        justify-content: center;
        margin-top: 1%;
        color: #564E4E;
        font-family: 'unbounded', sans-serif;}